.contenedor-producto {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1100px;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


.producto-imagenes {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-imagen {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #1e40af;
}

.caja-imagen img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.miniaturas {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.miniaturas img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s, border 0.2s;
}

.miniaturas img:hover {
    transform: scale(1.05);
    border-color: #0078FF;
}

.producto-info {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.producto-nombre {
    font-size: 2rem;
    margin: 0 0 10px 0;
}

.producto-precio {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0078FF;
    margin-bottom: 15px;
}

.producto-descripcion {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 25px;
}


.botonComprar {
    background-color: #0078FF !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.botonComprar:hover {
    background-color: #005FCC !important;
}

.descripcion-producto {
    max-width: 1100px;
    margin: 0 auto 60px auto;
    background-color: #fff;
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid #e0e0e0;

}

.descripcion-producto h3 {
    font-size: 1.6rem;
    color: black;
    margin-bottom: 15px;
}

.descripcion-producto p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.descripcion-producto ul {
    padding-left: 20px;
    color: #444;
}

.descripcion-producto li {
    margin-bottom: 6px;
}